[submodule "nymea-app"]
	path = nymea-app
	url = https://github.com/nymea/nymea-app.git
[submodule "nymea-app-consolinno-overlay"]
	path = nymea-app-consolinno-overlay
	url = https://gitlab.consolinno-it.de/leafletfirmware/nymea/nymea-app-consolinno-overlay.git
