name: build-windows
on:
  push:
    branches:
      - develop
      - feature/add-windows-build

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - run: git config --global credential.helper store
      - run: echo "https://${{secrets.GITLAB_DEPLOY_TOKEN_USER}}:${{secrets.GITLAB_DEPLOY_TOKEN}}@gitlab.consolinno-it.de" > %UserProfile%\.git-credentials 
      - uses: actions/checkout@v2
      - run: git submodule update --init --recursive
      - uses: jurplel/install-qt-action@v2
        with:
          version: '5.15.2'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'
          modules: qtcharts
      - name: Build Windows installer
        shell: cmd
        run: call .\build_windows.cmd
