name: build-snap 
on:
  push:
    branches:
      - feature/add-snap
#    tags:
#      - 'v*'
jobs:
  build-snap:
    runs-on: ubuntu-18.04
    steps:
      - run: git config --global credential.helper store
      - run: | 
          cat <<EOF > $HOME/.git-credentials
          https://${{secrets.GITLAB_DEPLOY_TOKEN_USER}}:${{secrets.GITLAB_DEPLOY_TOKEN}}@gitlab.consolinno-it.de
          EOF
      - uses: actions/checkout@v2
      - run: git submodule update --init --recursive
      - name: Install Snapcraft with LXD
        uses: samuelmeuli/action-snapcraft@v1
        with:
          use_lxd: true
      - name: "Apply Consolinno patches"
        run: ./apply_consolinno_patches.sh
      - run: ./build_snap.sh
      - name: Archive snap package
        uses: actions/upload-artifact@v3
        with:
          name: Archive snap package
          path: ./nymea-app/*.snap

  publish-snap:
    name: Publish snap package
    runs-on: ubuntu-latest
    needs: build-snap
    if: github.ref_type == 'tag' #&& contains(github.ref_name, 'bla')
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: Archive snap package
    - name: Upload snap package to release
      uses: svenstaro/upload-release-action@v2
      with:
        file_glob: true
        file: ./*.snap
        tag: ${{ github.ref }}
        overwrite: true
