name: build-ios 
on:
  push:
    branches:
      - develop
      - feature/add-ios-ci


jobs:
  build-ios:
    runs-on: macos-latest
    steps:
      - run: git config --global credential.helper store
      - run: | 
          cat <<EOF > $HOME/.git-credentials
          https://${{secrets.GITLAB_DEPLOY_TOKEN_USER}}:${{secrets.GITLAB_DEPLOY_TOKEN}}@gitlab.consolinno-it.de
          EOF
      - uses: actions/checkout@v2
      - run: git submodule update --init --recursive
      - uses: jurplel/install-qt-action@v2
        with:
          version: '5.15.2'
          target: 'ios'
          modules: qtcharts
      - run: ./build_ios.sh
      - uses: lhotari/action-upterm@v1
