name: build-windows
on:
  push:
    branches:
      - main
      - feature/add-windows-build
      - add-ci

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - run: git config --global credential.helper store
      - uses: actions/checkout@v2
      - run: git clone "https://${{secrets.GITLAB_DEPLOY_TOKEN_USER}}:${{secrets.GITLAB_DEPLOY_TOKEN}}@gitlab.consolinno-it.de/leafletfirmware/nymea/nymea-app-consolinno-overlay.git" tmp
      - run: git submodule update --init --recursive --progress
      - uses: ilammy/msvc-dev-cmd@v1
      - uses: jurplel/install-qt-action@v2
        with:
          version: '5.15.2'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'
          modules: qtcharts
          aqtversion: '==2.0.0'
#      - name: Setup tmate session
#        uses: mxschmitt/action-tmate@v3
      - name: Build Windows installer
        run: ./build_windows.ps1
      - uses: actions/upload-artifact@v3
        with:
          name: Consolinno HEMS windows installer
          path: |
            build/windows/consolinno-energy-win-installer-*.exe
            nymea-app-consolinno-overlay/packaging/windows/packages/hems.consolinno.energy/data/*.exe
            
