name: build-windows
on:
  push:
    branches:
      - main
      - feature/add-windows-build
      - feature/add-release-upload
    tags:
      - 'v*'

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - run: git config --global credential.helper store
      - uses: actions/checkout@v2
      - run: git clone "https://${{secrets.GITLAB_DEPLOY_TOKEN_USER}}:${{secrets.GITLAB_DEPLOY_TOKEN}}@gitlab.consolinno-it.de/leafletfirmware/nymea/nymea-app-consolinno-overlay.git" tmp
      - run: git submodule update --init --recursive --progress
      - uses: ilammy/msvc-dev-cmd@v1
      - uses: jurplel/install-qt-action@v3
        with:
          version: '5.15.2'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'
          modules: 'qtcharts qtwebengine'
          aqtversion: '==2.0.0'
          extra: '--timeout 20'
#      - name: Setup tmate session
#        uses: mxschmitt/action-tmate@v3
#      - name: "Apply Consolinno patches"
#        run: ./apply_consolinno_patches.sh
      - name: Build Windows installer
        run: ./build_windows.ps1
      #- name: Create dummy file
      #  shell: pwsh
      #  run: |
      #    New-Item -Path build/windows/ -ItemType Directory
      #    $hello = "Hello World"
      #    $hello | Out-File build/windows/consolinno-energy-win-installer-xyz.exe
      - uses: actions/upload-artifact@v3
        with:
          name: Consolinno HEMS windows installer
          path: |
            build/windows/consolinno-energy-win-installer-*.exe
            
  publish-windows:
    name: Publish binaries
    runs-on: ubuntu-latest
    needs: build-windows
    if: github.ref_type == 'tag' #&& contains(github.ref_name, 'bla')
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: Consolinno HEMS windows installer
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        #repo_name: ConsolinnoEnergy/consolinno-hems-app
        # A personal access token for the GitHub repository in which the release will be created and edited.
        # It is recommended to create the access token with the following scopes: `repo, user, admin:repo_hook`.
        #repo_token: ${{ secrets.RELEASE_REPO_ACCESS_TOKEN }}
        file_glob: true
        #file: build/windows/*.exe
        file: ./*.exe
        tag: ${{ github.ref }}
        overwrite: true
